.friendList {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 560px;
  margin: 30px auto;
  gap: 10px;
}

.item {
  border: 1px solid black;
  border-radius: 5px;
  width: 20%;
  padding: 10px;
}
